.containerLogin {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.containerLogin:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("./Untitled-1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	/* -webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px); */
}
.contact-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
    border-radius: 16px;
	padding: 40px 40px;
	background: rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
	margin: 0;
	padding: 0 0 20px;
   color:rgb( 227 156 0  ) ;
   font-weight: 600;
   font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
    font-family: "Shabnam";

}
.contact-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
    font-family: "Shabnam";
   margin-bottom: 32px;
   text-align: center;
}
.contact-form input {
	width: 100%;

    border-radius: 16px;
   
}


.buttonLogin{
    background-color: rgb( 227 156 0);
    color: white;
    
}
.errmsg{
	background-color: crimson;
	color: white;
	border-radius: 12px;
	padding: 8px !important;

}
