
.notSeen {
    width: 100%;
    position: relative;
    background: rgb( 255 ,255 ,255);
    padding:16px 32px;
    display: flex;
    align-items:center;
    justify-content:space-between ;
    border-radius: 16px;
    box-shadow: rgb( 255 176 4) 8px 0px 0px,  0px 0px 0px -3px, rgb( 255 176 4) 0px 0px 0px inset;
  }
  .Seen{
    width: 100%;
    position: relative;
    background: rgb( 255 ,255 ,255);
    padding:16px 32px;
    display: flex;
    align-items:center;
    justify-content:space-between ;
    border-radius: 16px;
    box-shadow: rgb( 0 0 0) 8px 0px 0px,  0px 0px 0px -3px, rgb( 0 0 0) 0px 0px 0px inset;
  }
  
  /* .pointer:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 8px;
    bottom: 0;
    width: 70px;
    height: 0;
    border-left: 37px solid  rgb( 240 240 240);
    border-top: 37px solid transparent;
    border-bottom: 37px solid transparent;
  } */
