.selected {
  display: flex;
  justify-content: center;
  background-color: rgb(255 176 4);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  /* padding: 6px; */
  align-items: center;
  cursor: pointer;

}
.before {
  color: rgb(173, 173, 173);
  margin-top: 8px;  display: flex; justify-content: center;
}

.day,
.today {
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  margin-top: 8px;

}
.bestProductStore-main {
  display: flex;

  overflow-x: auto;
  width: 100%;
 justify-content: center;
 -webkit-overflow-scrolling: touch;
 scroll-behavior: smooth;

}
.bestProductStore-cards {
  position: relative;
  display: inline-block;
  flex: 1 0 auto;
margin-right: 16px;

}