.statusActive {
  background-color: rgb( 33 ,192 ,99);
  color: #fff;
  padding:4px 8px;
  width:80px;
  text-align: center;
  border-radius:8px ;
}
.statusDeactive {
  background-color: rgb(219, 219, 219);
  padding:4px 8px;
  width:80px;
  text-align: center;
  border-radius:8px ;
}
.description{
  transform:translateX(12px)
}