name: CI/CD

on:
    push:
        branches:
            - "+([0-9])?(.{+([0-9]),x}).x"
            - master
            - next
    pull_request:
        branches:
            - "+([0-9])?(.{+([0-9]),x}).x"
            - master
            - next

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v2
              with:
                  node-version: "16"
            - uses: actions/cache@v2
              with:
                  path: .npm/
                  key: ${{ hashFiles('package-lock.json') }}
            - uses: actions/cache@v2
              with:
                  path: dist/
                  key: ${{ github.sha }}

            - run: cp .github/.versionrc.js .
            - run: npx standard-version@9.3.2

            - run: npm ci --cache .npm --prefer-offline
            - run: export CI=false
            - run: npm run build
            - run: cp .env VERSION CHANNEL CHANGELOG dist

    test:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - run: echo CodeCoverage

    release_git:
        needs: test
        runs-on: ubuntu-latest
        if: github.event_name == 'push'
        steps:
            - uses: actions/checkout@v3
            - uses: actions/cache@v2
              with:
                  path: dist/
                  key: ${{ github.sha }}

            - run: echo "VERSION=$(cat dist/VERSION)" >> $GITHUB_ENV
            - run: echo "CHANNEL=$(cat dist/CHANNEL)" >> $GITHUB_ENV
            - run: git tag ${{ env.VERSION }}
            - run: git push --tag
            - uses: softprops/action-gh-release@v1
              with:
                  tag_name: ${{ env.VERSION }}
                  prerelease: ${{ env.CHANNEL != 'latest' }}
                  body_path: dist/CHANGELOG
                  files: dist/**

    release_docker:
        needs: test
        runs-on: ubuntu-latest
        if: github.event_name == 'push'
        steps:
            - uses: actions/checkout@v3
            - uses: actions/cache@v2
              with:
                  path: dist/
                  key: ${{ github.sha }}

            - run: echo "VERSION=$(cat dist/VERSION)" >> $GITHUB_ENV
            - uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - uses: docker/build-push-action@v3
              with:
                  context: .
                  push: true
                  file: .github/Dockerfile
                  tags: ghcr.io/bardia1375/candoproject-master:${{ env.VERSION }}